*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  background: #ECECEC;
}

body {
  font-family: 'Roboto', Arial, Tahoma, sans-serif;
  text-align: center;
}

h2 {
  font-size: 0.9091rem;
  color: #FF9933;
  text-transform: uppercase;
  font-weight: 500;
}

@media screen and (max-width: 630px) {
  h2 {
    font-size: 0.8182rem;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    font-size: 0.9091rem;
  }
}

a {
  text-decoration: none;
}

header {
  display: none;
}

@media screen and (max-width: 576px) {
  header {
    display: block;
  }
}

.header-bar {
  padding: 22px 24px 6px 24px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 412px;
  font-size: 0.6364rem;
}

.general-information {
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}

.status-bar {
  display: flex;
}

.navigation {
  padding: 18px 24px 24px 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation a {
  font-size: 1rem;
  color: #1C1B1F;
}

.hark-back {
  display: flex;
}

.back {
  padding-right: 20px;
}

.arrows {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  color: #737077;
  position: relative;
  top: 160px;
  height: 0;
}

@media screen and (max-width: 576px) {
  .arrows {
    top: 132px;
  }
}

.main-information {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 576px) {
  .main-information {
    flex-direction: column;
  }
}

.main-information section {
  width: calc((100%-16px*2)/2);
}

.current-meteo {
  padding: 0 16px;
  max-width: 412px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .current-meteo {
    max-width: 576px;
  }

  .main-information section {
    width: 100%;
  }
}

.dial {
  height: 280px;
}

.dial-hand {
  height: 70px;
  position: relative;
  top: 55px;
  animation: 10s linear infinite rotate;
  transform-origin: bottom;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.dial-hand img {
  width: 29px;
  height: 69px;
}

.meteo-arrows {
  height: 0;
}

.output img {
  height: 260px;
}

.value {
  color: #FF9933;
  font-size: 1.5455rem;
}

@media screen and (max-width: 860px) {
  .value {
    font-size: 1.3636rem;
  }
}

@media screen and (max-width: 835px) {
  .value {
    font-size: 1.2727rem;
  }
}

@media screen and (max-width: 805px) {
  .value {
    font-size: 1.1364rem;
  }
}

@media screen and (max-width: 770px) {
  .value {
    font-size: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .value {
    font-size: 0.8636rem;
  }
}

@media screen and (max-width: 690px) {
  .value {
    font-size: 0.7273rem;
  }
}

@media screen and (max-width: 630px) {
  .wind-direction {
    font-size: 0.5864rem;
  }
}

@media screen and (max-width: 576px) {
  .value {
    font-size: 1.5455rem;
  }
}

@media screen and (max-width: 405px) {
  .value {
    font-size: 1.4545rem;
  }
}

@media screen and (max-width: 370px) {
  .value {
    font-size: 1.3182rem;
  }
}

@media screen and (max-width: 355px) {
  .value {
    font-size: 1.2273rem;
  }
}

@media screen and (max-width: 340px) {
  .value {
    font-size: 1.1364rem;
  }
}

.abbreviation {
  font-size: 0.4545rem;
  font-weight: 500;
  padding-bottom: 4px;
}

/* Tabs start */
.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  max-width: 310px;
  height: 40px;
  overflow-x: auto;
  overflow-y: hidden;
  order: 0;
  margin: 0 auto;
  white-space: nowrap;
  border: 2px solid #F9F9F9;
  border-radius: 10px;
  background: #F3F3F3;
}

.tab {
  padding: 6px 23px;
  display: inline-block;
  text-decoration: none;
  font-size: 0.6364rem;
  text-align: center;
  color: #1D192B;
  font-weight: 500;
}

.tab.active {
  background: #F1DDCA;
  border: 1px solid #FF9933;
  border-radius: 5px;
}

.container {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: none;
}

.section.active {
  display: block;
}
/* Tabs end */

.edit-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  font-size: 0.7273rem;
  bottom: 90px;
}

.edit-bar .value {
  font-size: 0.7273rem;
}

.information-blocks {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.information-blocks .block {
  width: calc((100% - 2*16px)/2);
  max-width: 183px;
  height: 152px;
  background: #F3F3F3;
  text-align: left;
  border: 2px solid #F9F9F9;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
}

.information-blocks .block:not(:nth-of-type(2n+1)) {
  margin-right: 16px;
}

.information-blocks .block:not(:nth-of-type(n+3)) {
  margin-bottom: 16px;
}

@media screen and (max-width: 875px) {
  .information-blocks {
    max-width: 380px;
  }
}

@media screen and (max-width: 860px) {
  .information-blocks {
    max-width: 360px;
  }
}

@media screen and (max-width: 835px) {
  .information-blocks {
    max-width: 340px;
  }
}

@media screen and (max-width: 805px) {
  .information-blocks {
    max-width: 320px;
  }
}

@media screen and (max-width: 770px) {
  .information-blocks {
    max-width: 300px;
  }
}

@media screen and (max-width: 720px) {
  .information-blocks {
    max-width: 280px;
  }
}

@media screen and (max-width: 690px) {
  .information-blocks {
    max-width: 260px;
  }
}

@media screen and (max-width: 630px) {
  .information-blocks {
    max-width: 240px;
  }

}

@media screen and (max-width: 576px) {
  .information-blocks {
    max-width: 400px;
    padding-top: 0;
  }

  .information-blocks .block:not(:nth-of-type(2n)) {
    margin-right: 16px;
  }

  .information-blocks .block:not(:nth-of-type(2n+1)) {
    margin-right: 0;
  }
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.wind,
.speed,
.temp {
  order: 1;
}

@media screen and (max-width: 576px) {
  .wind,
  .speed,
  .temp {
    order: 0;
  }
}

.icons {
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
}

.explanation {
  font-size: 0.7173rem;
  line-height: 28px;
}

@media screen and (max-width: 875px) {
  .explanation {
    font-size: 0.6364rem;
    line-height: 28px;
  }
}

@media screen and (max-width: 630px) {
  .explanation {
    font-size: 0.5455rem;
    line-height: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .explanation {
    font-size: 0.8182rem;
    line-height: 28px;
    text-align: left;
  }
}

/* Toggle start */
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D1D1D6;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #0BA649;
}

input:focus+.slider {
  box-shadow: 0 0 1px #0BA649;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle end */

footer {
  padding: 20px 0 8px;
  display: none;
}

.home::after {
  content: "";
  width: 72px;
  height: 2px;
  position: absolute;
  left: calc(50% - 72px/2);
  background: #FFFFFF;
  border-radius: 8px;
}

@media screen and (max-width: 576px) {
  footer {
    display: block;
  }
}